@model Blog

@section libStyle{
    <!-- Summernote -->
    <link href="~/lib/summernote/summernote-lite.min.css" rel="stylesheet" />
    <link href="~/lib/ofc-simple-media/js/simple_file_upload.css" rel="stylesheet" />
}
@section libScript{
    <!-- Summernote -->
    <script src="~/lib/summernote/summernote-lite.min.js"></script>
    <script src="~/js/my_lib/my_summernote_settings.js"></script>
    <script src="~/lib/ofc-simple-media/js/simple_file_upload.js"></script>
}

<div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Blog Düzenleme</h4>
        </div>
        <hr />
        <form class="needs-validation" method="post" novalidate>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="LastModifiedDate" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="SitemapId" />
            <input type="hidden" class="mediaIdForCategory" asp-for="MediaId" />
            <input type="hidden" asp-for="Enabled" />
            <div class="row">
                <div class="col-md-6 col-sm-12 form-group">
                    <label asp-for="Title">Başlık</label>
                    <input type="text" asp-for="Title" maxlength="256" class="form-control" placeholder="Başlık" required>
                    <div class="invalid-feedback">
                        Lütfen başlık giriniz.
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 form-group">
                    <label asp-for="Subject">Konu</label>
                    <input asp-for="Subject" type="text" maxlength="64" class="form-control" placeholder="Konu belirtiniz.">
                </div>
                <div class="col-sm-12 form-group">
                    <label>Kısa Açıklama</label>
                    <textarea asp-for="ShortDescription" maxlength="512" rows="4" class="form-control" placeholder="Kısa açıklama belirtiniz."></textarea>
                </div>
                <div class="col-sm-12 form-group">
                    <label>Açıklama</label>
                    <textarea class="summernote_textarea__required" asp-for="Description"></textarea>
                    <div class="invalid-feedback">
                        Lütfen blog yazısı giriniz.
                    </div>
                </div>
                <hr />
                <div class="col-sm-12 form-group">
                    <label asp-for="SeoTitle">Seo Başlık</label>
                    <input asp-for="SeoTitle" type="text" maxlength="128" class="form-control" placeholder="Seo başlık belirtiniz." required>
                    <div class="invalid-feedback">
                        Lütfen seo başlığı giriniz.
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <label>Seo Açıklama</label>
                    <textarea asp-for="SeoDescription" maxlength="150" rows="2" class="form-control" placeholder="Seo açıklama belirtiniz." required></textarea>
                    <div class="invalid-feedback">
                        Lütfen seo açıklaması giriniz.
                    </div>
                </div>
                
                <div class="col-md-12 col-sm-12 form-group">
                    @await Component.InvokeAsync("FileUploadModal",
                    new AdminFileUploadViewModel
                    {
                    FileUploadEntity = new FileUploadEntity
                    {
                    FileAccept = "image/jpg, image/png, image/jpeg",
                    Label = "Fotoğraf",
                    FileId = 1,
                    FileType = "image",
                    MediaId = Model.MediaId ==  null ? null : Model.MediaId.ToString(),
                    },
                    AdminFileUploadModal = new AdminFileUploadModal
                    {
                    ModalTitle = "Aggiungi foto di sottocategoria",
                    }
                    })
                </div>
                @* <div class="col-md-12 col-sm-12 form-group">
                    @await Component.InvokeAsync("FileUploadModal",
                    new AdminFileUploadViewModel
                    {
                    FileUploadEntity = new FileUploadEntity
                    {
                    FileAccept = "image/*",
                    Label = "Galeri Fotoğrafı",
                    FileId = 1,
                    FileType = "image",
                    MediaId = Model.MediaId == 0 ? null : Model.MediaId.ToString(),
                    ParamMediaIdName = "MediaId",
                    MediaTitle = Model == null ? "" : Model.Id.ToString()
                    },
                    AdminFileUploadModal = new AdminFileUploadModal
                    {
                    ModalTitle = "Galeri için fotoğraf Yükleyin Boyut:250 x 250",

                    }
                    })
                </div> *@

            </div>
            @await Component.InvokeAsync("ButtonGroup", new { viewName = "Default", vm = new ButtonGroupViewModel { ListControllerName = ViewContext.RouteData.Values["controller"].ToString() } })
        </form>
    </div>
</div>

