@model SectionViewModel
@inject IUnitOfWork _uow

@{
    // var subCategories = _uow.SubCategory.GetBySubCategoryId(21);
    // var langNow = _uow.Cookie.GetUserLanguageId; 
    // var products = _uow.Product.GetAll().Where(p => p.Sitemap.LangId == langNow);
    int id ;
    var langNow = _uow.Cookie.GetUserLanguageId;
    if (langNow == 5)
    {
        id = 28;
    }
    else
    {
        id = 21;
    }
    var subCategories = _uow.SubCategory.GetBySubCategoryId(id);
    var a = 10;
    // var productsBySubCategory = new List<SubCategory>();
    // foreach (var subCategory in subCategories)
    // {
    //     productsBySubCategory.AddRange(_uow.SubCategory.GetAll().Where(p => p.Id == subCategory.Id && p.LangId == langNow));
    // }

}

<section class="container donna-section-container">
    <div class="row">
        
        @foreach (var  item in subCategories)
        {

            var media = _uow.Media.GetMedia(Convert.ToInt32(item.MediaId));
            Sitemap sitemap = _uow.Sitemap.GetSitemapBySitemapId(Convert.ToInt32(item.SitemapId));
            string permalink = "";
            if (sitemap != null)
                permalink = sitemap.Permalink;

            <div class="col-6 col-lg-2 mb-5 px-3 donna-item">
                <a href="/@permalink"><img src="@media.Path" class="object-fit-contain w-100 donna-img" /></a>
                <p class="donna-cat-title">@item.Name</p>
            </div>
        }
    </div>
</section>
