@model SectionViewModel
@inject IUnitOfWork _uow

@{
}

<div class="pa-container" style="margin-top: 200px; margin-bottom: 160px;">
    <h1 class="text-center error-404">404</h1>
    <p class="error-subtitle">@Model.paramText1</p>
    <div class="d-flex justify-content-center align-items-center mt-3"><p class="error-desc">@Model.description</p></div>
</div>
