@model SectionViewModel
@inject IUnitOfWork _uow

@{

	List<SubCategoryProductRelation> subcategoryRelations = _uow.SubCategoryProductRelation.GetAll().Where(p => p.SubCategoryId == Model.SubCategory.Id).ToList();

	List<Product> products = new List<Product>();

	foreach (SubCategoryProductRelation s in subcategoryRelations)
	{
		Product product = _uow.Product.GetById(Convert.ToInt16(s.ProductId));
		products.Add(product);
	}
	Category category = _uow.Category.GetById(Model.SubCategory.CategoryId);

}
<div class="container-fluid breadcrump-section">
	<div class="container breadcrumb-container pt-5">
		<div class="d-flex align-items-center mb-2">
			<a class="breadcrump-links" href="/">Home</a>
			<p class="breadcrump-links">/@category.Name</p>
		</div>
		<p class="breadcrump-title">@Model.SubCategory.Name</p>
	</div>
</div>


<section class="container donna-section-container px-5">
	<div class="row">
		@foreach (var item in products)
		{
			var media = _uow.Media.GetMedia(Convert.ToInt32(item.MediaId));
			Sitemap sitemap = _uow.Sitemap.GetSitemapBySitemapId(Convert.ToInt32(item.SitemapId));
			string permalink = "";
			if (sitemap != null)
				permalink = sitemap.Permalink;

			<div class="col-6 col-lg-5_12 mb-5 px-3 donna-item">
				<a href="/@permalink"><img src="@media.Path" class="w-100 donna-img object-fit-contain" /></a>
				<p class="donna-cat-title">@item.Name</p>
			</div>
		}
	</div>
</section>
