@model Language
@{
    ViewData["Title"] = "Dil Yönet/Admin";
}
<div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Blog Düzenleme</h4>
        </div>
        <hr />
        <form class="needs-validation" method="post" novalidate>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IsRoot" />
            <input type="hidden" asp-for="Enabled" />
            @if (ViewBag.AlertMessage == "same-language")
            {
                <div class="alert alert-danger">
                    Bu dil veritabanımıza kayıtlıdır. Farklı bir dil seçiniz.
                </div>
            }
            <div class="row">

                <div class="col-md-12 col-sm-12 form-group">
                    <label asp-for="Descriptive">Başlık</label>
                    <input asp-for="Descriptive" type="text" maxlength="128" class="form-control" placeholder="Dil Başlığı" required>
                    <div class="invalid-feedback">
                        Lütfen başlık seçiniz.
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 form-group">
                    <label asp-for="Title">Başlık</label>
                    <select class="form-control" asp-for="Title" required>
                        <option value="">Seç</option>
                        <option value="tr-TR">tr-TR</option>
                        <option value="en-EN">en-EN</option>
                        <option value="fr-FR">fr-FR</option>
                        <option value="de-DE">de-DE</option>
                    </select>
                    <div class="invalid-feedback">
                        Lütfen dil seçiniz.
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 form-group">
                    <label asp-for="ShortTitle">Kısaltma</label>
                    <select class="form-control" asp-for="ShortTitle" required>
                        <option value="">Seç</option>
                        <option value="tr">tr</option>
                        <option value="en">en</option>
                        <option value="fr">fr</option>
                        <option value="de">de</option>
                    </select>
                    <div class="invalid-feedback">
                        Lütfen kısaltma seçiniz.
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("ButtonGroup", new { viewName = "Default", vm = new ButtonGroupViewModel { ListControllerName = ViewContext.RouteData.Values["controller"].ToString() } })
        </form>
    </div>
</div>

