@model PageViewModel
@inject IUnitOfWork _uow
@{
	var langNow = _uow.Cookie.GetUserLanguageId;

	Media media = _uow.Media.GetMedia(Model.Setting.paramMediaId1);
	string logoWebp = _uow.Media.GetWebImageByMedia(media);

	var langs = _uow.Language.GetAll().Where(p => p.Enabled == true).ToList();
}
<link href="~/css/header.css" rel="stylesheet" />

<header>
	<nav class="navbar navbar-expand-lg sticky-top">
		<div class="container-fluid ps-lg-5 pe-lg-5">
			<div class="col-6 col-lg-2 d-flex justify-content-center">
				<a href="/">
					<img class="header-img" src="~/media/stella-logo-beyaz 1.png" />
				</a>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="col-12 col-lg-10 d-none d-lg-block">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<partial name="_Menu" model="Model.JsonMenus" />
					<div class="d-flex flex-xs-column header-part-2 align-items-center justify-content-end">
						<div class="d-flex gap-3">
							<a class="header-lang" data-langId="3">
								<img class="header-lang-img " src="~/media/flag_of_the_united_kingdom_(3-5).svg.png" />
							</a>
							<a class="header-lang" data-langId="5">
								<img class="header-lang-img" src="~/media/italya.png" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>


@if (langNow == 3){
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-2">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="#">Home</a>
			</li>
			<li class="nav-item">
					<a class="nav-link" href="/about-us">About Us</a>
			</li>
			<li class="nav-item dropdown">
					<a  class="nav-link nav-link-off" role="button">
						Women
				</a>
				<ul class="dropdown-menu nested-dropdown-first">
					<li class="dropdown-submenu sub-1">
							<a class="dropdown-item"  role="button">Silver Plated</a>
						<ul class="dropdown-menu dropdown-sub-first dropdown-sub d-block-hover">
								<li class="sub-li"><a class="dropdown-item" href="/set">Silver Plated Set</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/necklaces">Silver Plated Necklaces</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/bracelets">Silver Plated Bracelets</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/earrings-silver-plated">Silver Plated Earrings</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/rings-silver-plated">Silver Plated Rings</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/big-rings-silver-plated">Silver Plated Big Rings</a></li>
						</ul>
					</li>
					<li class="dropdown-submenu sub-2">
							<a class="dropdown-item"  role="button">Gold Plated</a>
						<ul class="dropdown-menu dropdown-sub-second dropdown-sub d-block-hover">
								<li class="sub-li"><a class="dropdown-item" href="/set-gold-plated">Gold Plated Set</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/necklaces-gold-plated">Gold Plated Necklaces</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/bracelets-gold-plated">Gold Plated Bracelets</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/earrings-gold-plated">Gold Plated Earrings</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/rings-gold-plated">Gold Plated Rings</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/big-rings-gold-plated">Gold Plated Big Rings</a></li>
						</ul>
					</li>
					<li class="dropdown-submenu sub-3">
							<a class="dropdown-item"  role="button">Stone</a>
						<ul class="dropdown-menu dropdown-sub-third dropdown-sub d-block-hover">
								<li class="sub-li"><a class="dropdown-item" href="/set-stone">Stone Set</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/necklaces-stone">Stone Necklaces</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/bracelets-stone">Stone Bracelets</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/earrings-stone">Stone Earrings</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/rings-stone">Stone Rings</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Men
				</a>
				<ul class="dropdown-menu">
						<li class="sub-li"><a class="dropdown-item" href="/men-rings">Men Rings</a></li>
						<li class="sub-li"><a class="dropdown-item" href="/men-bracelets">Men Bracelets</a></li>
						<li class="sub-li"><a class="dropdown-item" href="/men-necklaces">Men Necklaces</a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			</li>
		</ul>
	</div>
    </div>
}
else
{
	<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<ul class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-2">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/chi-siamo">Chi Siamo</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link nav-link-off" role="button">
						Donna
					</a>
					<ul class="dropdown-menu nested-dropdown-first">
						<li class="dropdown-submenu sub-1">
							<a class="dropdown-item"  role="button">Argento</a>
							<ul class="dropdown-menu dropdown-sub-first dropdown-sub d-block-hover">
								<li class="sub-li"><a class="dropdown-item" href="/set-argento">Argento Set</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/collane-argento">Argento Collane</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/braccialetti-argento">Argento Braccialetti</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/orecchini-argento">Argento Orecchini</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/anelli-argento">Argento Anelli</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/anelli-grandi-argento">Argento Anelli Grandi</a></li>
							</ul>
						</li>
						
						<li class="dropdown-submenu sub-2">
							<a class="dropdown-item"  role="button">Oro</a>
							<ul class="dropdown-menu dropdown-sub-second dropdown-sub d-block-hover">
								<li class="sub-li"><a class="dropdown-item" href="/set-oro">Oro Set</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/collane-oro">Oro Collane</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/braccialetti-oro">Oro Braccialetti</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/orecchini-oro">Oro Orecchini</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/anelli-oro">Oro Anelli</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/anelli-grandi-oro">Oro Anelli Grandi</a></li>
							</ul>
						</li>
						<li class="dropdown-submenu sub-3">
							<a class="dropdown-item" role="button">Pietra</a>
							<ul class="dropdown-menu dropdown-sub-third dropdown-sub d-block-hover">
								<li class="sub-li"><a class="dropdown-item" href="/set-pietra">Pietra Set</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/collane-pietra">Pietra Collane</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/braccialetti-pietra">Pietra Braccialetti</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/orecchini-pietra">Pietra Orecchini</a></li>
								<li class="sub-li"><a class="dropdown-item" href="/anelli-pietra">Pietra Anelli</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Uomo
					</a>
					<ul class="dropdown-menu">
						<li class="sub-li"><a class="dropdown-item" href="/anelli-da-uomo">Anelli da uomo</a></li>
						<li class="sub-li"><a class="dropdown-item" href="/bracciali-da-uomo">Bracciali da uomo</a></li>
						<li class="sub-li"><a class="dropdown-item" href="/collane-da-uomo">Collane da uomo</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contatti">Contatti</a>
				</li>
			</ul>
		</div>
	</div>

}