@model Admin
@await Component.InvokeAsync("Breadcrumb", new BreadcrumbViewModel { Title = "Yönetici Düzenle" })

<div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Yönetici Düzenleme</h4>
        </div>
        <hr />
        <form class="needs-validation" method="post" novalidate>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="LastLoginDate" />
            <input type="hidden" asp-for="LastLoginIp" />
            <input type="hidden" asp-for="RegisterDate" />
            <input type="hidden" asp-for="Enabled" />
            <div class="row">
                <div class="col-md-6 col-sm-12 form-group">
                    <label asp-for="Name">İsim</label>
                    <input type="text" asp-for="Name" maxlength="128" class="form-control" placeholder="İsim" required>
                    <div class="invalid-feedback">
                        Lütfen isim giriniz.
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 form-group">
                    <label asp-for="LastName">Soyisim</label>
                    <input type="text" asp-for="LastName" maxlength="128" class="form-control" placeholder="Soyisim" required>
                    <div class="invalid-feedback">
                        Lütfen isim giriniz.
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 form-group">
                    <label asp-for="Email">E-Posta</label>
                    <input type="text" asp-for="Email" maxlength="256" class="form-control" placeholder="Email" required>
                    <div class="invalid-feedback">
                        Lütfen e-posta giriniz.
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 form-group">
                    <label asp-for="Phone">Telefon Numarası</label>
                    <input type="text" asp-for="Phone" maxlength="32" class="form-control" placeholder="Telefon No">
                </div>
                <div class="col-md-12 col-sm-12 form-group">
                    <label asp-for="Password">Şifre</label>
                    <input type="password" asp-for="Password" value="@Model.Password" maxlength="32" class="form-control" placeholder="Şifreniz" required>
                    <div class="invalid-feedback">
                        Lütfen şifre belirleyiniz.
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 form-group">
                    <label asp-for="Role">Rol Seçimi</label>

                    @if (Model.Role != "developer")
                    {
                        <select asp-for="Role" class="form-control" required>
                            <option value="">Lütfen rol seçiniz.</option>
                            <option value="admin">Yönetici</option>
                            <option value="co-admin">Alt Yönetici</option>
                            <option value="editor">Editör/Yazman</option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="Role" class="form-control" required>
                            <option value="">Lütfen rol seçiniz.</option>
                            <option value="developer">Geliştirici</option>
                            <option value="admin">Yönetici</option>
                            <option value="co-admin">Alt Yönetici</option>
                            <option value="editor">Editör/Yazman</option>
                        </select>
                    }
                    <div class="invalid-feedback">
                        Lütfen rol belirleyiniz.
                    </div>
                </div>
             

            </div>
            @await Component.InvokeAsync("ButtonGroup", new { viewName = "Default", vm = new ButtonGroupViewModel { ListControllerName = ViewContext.RouteData.Values["controller"].ToString() } })
        </form>
    </div>
</div>

