@model MediaViewModel
@inject IUnitOfWork _uow
@{
    ViewData["Title"] = "Galeri/Medya";
}

@await Component.InvokeAsync("Breadcrumb", new BreadcrumbViewModel { Title = "Galeri" })

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Galeri</h4>
        </div>
        <hr />
        <div class="media_area row">
            @foreach (var item in Model.Medias.OrderByDescending(p => p.Date))
            {
                <div class=" col-md-3 col-sm-4 col-xs-12 mb-3 media_box__container">
                    <div class="media_box">
                        <img class="img" src="@item.Path" alt="">
                        <div class="photo-wrapper">
                            <div class="overlay">
                                <!-- Button Delete -->
                                @await Component.InvokeAsync("Link", new { viewName = "Delete", vm = new LinkViewModel { ClassName = "btn btn-outline-danger", DataId = item.Id, DataUrl = "/admin/media/delete" } })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @await Component.InvokeAsync("Link", new { viewName = "Default", vm = new LinkViewModel { Title = "Yeni Ekle", Href = "/admin/" + ViewContext.RouteData.Values["controller"].ToString() + "/manage/" } })
    </div>
</div>