@model MediaViewModel
@inject IUnitOfWork _uow
@{
    ViewData["Title"] = "Galeri/Medya";
}

@await Component.InvokeAsync("Breadcrumb", new BreadcrumbViewModel { Title = "Galeriye Yükleyin" })

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Galeriye Yükleyin</h4>
        </div>
        <hr />
        <form>
            <div class="form-group">
                <label>Dosyaya İsim Verebilirsiniz</label>
                <input name="MediaTitle" class="form-control" type="text" placeholder="Lütfen başlık giriniz." maxlength="256" />
            </div>
            <input id="fancy-file-upload" type="file" name="files" multiple>
        </form>
    </div>
</div>
@section libStyle{
    <link href="~/theme/assets/plugins/fancy-file-uploader/fancy_fileupload.css" rel="stylesheet" />
}
@section libScript{
    <script src="~/theme/assets/plugins/fancy-file-uploader/jquery.ui.widget.js"></script>
    <script src="~/theme/assets/plugins/fancy-file-uploader/jquery.fileupload.js"></script>
    <script src="~/theme/assets/plugins/fancy-file-uploader/jquery.iframe-transport.js"></script>
    <script src="~/theme/assets/plugins/fancy-file-uploader/jquery.fancy-fileupload.js"></script>
    <script>
        $('#fancy-file-upload').FancyFileUpload({
            params: {
                action: 'fileuploader'
            },
            maxfilesize: 3000000,
            // called whenever starting the upload
            startupload: function (SubmitUpload, e, data) {
                var title = $("input[name='MediaTitle']").val();
                if (title != null) {
                    uploadWithAjax(data.files, title);
                }
                else {
                    alert("Lütfen başlık giriniz.");
                }
            }
        });
        function uploadWithAjax(files, title) {

            var formData = new FormData();
            formData.append('FilePath', "/media/");
            formData.append('MediaTitle', title);

            for (var i = 0; i < files.length; i++) {
                formData.append(files[i].name, files[i]);
            }

            $.ajax({
                url: "/admin/media/insert",
                dataType: 'json',
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    console.log(result)
                    window.location.href = "/admin/media/gallery";
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                }
            });
        }
     
    </script>
}
