@model LinkViewModel
@{
    string activateClassName = Model.IsActive == true ? "d-none" : null;
    string deactivateClassName = Model.IsActive == true ? null : "d-none";
}

<a href="javascript:;" class="activate_button @activateClassName btn btn-success list_publish__btn" data-url="@Model.DataUrl" data-id="@Model.DataId">
    Pubblicare
    <i class="bx bx-play-circle"></i>
</a>

<a href="javascript:;" class="deactivate_button @deactivateClassName btn btn-danger list_publish__btn" data-url="@Model.DataUrl" data-id="@Model.DataId">
    Pausa
    <i class="bx bx-pause-circle"></i>
</a>
