@model Category
@section libScript {
    <script src='https://cdn.tiny.cloud/1/vdqx2klew412up5bcbpwivg1th6nrh3murc6maz8bukgos4v/tinymce/5/tinymce.min.js' referrerpolicy="origin">
    </script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
}
<div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Aggiungi categoria</h4>
        </div>
        <hr />
        <form class="needs-validation" method="post" novalidate>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-12 col-sm-12 form-group">
                    <label asp-for="Name">Kategori Adı Giriniz</label>
                    <input type="text" asp-for="Name" maxlength="256" class="form-control" placeholder="Kategori Adı" required>
                    <div class="invalid-feedback">
                        Inserire il nome della categoria
                    </div>
            </div>
            @await Component.InvokeAsync("ButtonGroup", new { viewName = "Default", vm = new ButtonGroupViewModel { ListControllerName = ViewContext.RouteData.Values["controller"].ToString() } })
        </form>
    </div>
</div>

