.about-page-container h3 {
	font-size: 24px;
	font-weight: 600;
	color: #000;
	line-height: 40px;
}

.about-page-container p {
	font-size: 16px;
	color: #353535;
	font-weight: 400;
	line-height: 30px;
}

@media only screen and (min-width: 0px) and (max-width: 560px) {
}
