@model SectionViewModel
@inject IUnitOfWork _uow

<div class="portlet portlet-sortable  box green" data-order="0">
    <input type="hidden" name="sectionName" value="_ContactHomeSection" />
    <input type="hidden" name="order" value="@Model.order" />
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-bars"></i><span class="portlet-title-span">@Model.title</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body tabs-below" style="display: none;">
        <div class="form-group">
            <label class="control-label col-md-2">
                Başlık
                <span class="required"> * </span>
            </label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="title" value="@Model.title" onkeypress="changeTitle(this);" onblur="changeTitle(this);" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Açıklama
                <span class="required"> * </span>
            </label>
            <div class="col-md-10">
                <textarea class="form-control" name="description" rows="8">@Model.description</textarea>
            </div>
        </div>
        @await Component.InvokeAsync("FileUploadModal",
            new AdminFileUploadViewModel
            {
                FileUploadEntity = new FileUploadEntity
                {
                    FileAccept = "image/jpg, image/png, image/jpeg",
                    FilePath = "/section/image/",
                    Label = "Fotoğraf",
                    FileId = 1,
                    FileType = "image",
                    MediaId = Model.paramMediaId1.ToString()
                },
                AdminFileUploadModal = new AdminFileUploadModal
                {
                    ModalTitle = "Fotoğraf Yükleyin",
                }
            })
    </div>
</div>
