@model List<JsonMenu>
@inject IUnitOfWork _uow
@using Newtonsoft.Json;

@{
	string menuJsonData = JsonConvert.SerializeObject(Model);
}
@section libStyle{
	<link href="~/lib/jQuery-menu-editor-master/bootstrap-iconpicker/css/bootstrap-iconpicker.min.css" rel="stylesheet" />
}
@section libScript{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="~/lib/jQuery-menu-editor-master/bootstrap-iconpicker/js/iconset/fontawesome5-3-1.min.js"></script>
	<script src="~/lib/jQuery-menu-editor-master/bootstrap-iconpicker/js/bootstrap-iconpicker.min.js"></script>
	<script src="~/lib/jQuery-menu-editor-master/bootstrap-iconpicker/js/bootstrap-iconpicker.bundle.min.js"></script>
	<script src="~/lib/jQuery-menu-editor-master/jquery-menu-editor.js"></script>
}

@section script{
	<script src="~/js/my_lib/json_menu_master.js"></script>
	@if (Model.Count() > 0)
	{
		<script>
			//Set Data
			var arrayJson = @Html.Raw(menuJsonData);
			editor.setData(arrayJson);
		</script>
	}
	else
	{
		<script>
			//Set Data
			var arrayJson = [{ "text": "Anasayfa", "href": "/anasayfa", "icon": "fas fa-home", "target": "_top", "title": "My Home" }, { "text": "İletişim", "icon": "fas fa-flask", "href": "/iletisim", "target": "_self", "title": "" }, { "text": "Hakkımızda", "href": "/hakkimizda", "icon": "fas fa-flask", "target": "_self", "title": "" }, { "text": "Blog", "href": "/blog", "icon": "fas fa-map-marker", "target": "_self", "title": "" }, { "text": "Partnerler", "href": "/partner", "icon": "fas fa-search", "target": "_self", "title": "", "children": [{ "text": "Opcion7-1", "href": "", "icon": "fas fa-plug", "target": "_self", "title": "" }] }];
			editor.setData(arrayJson);
		</script>
	}
}

<div class="card radius-15">
	<div class="card-body">
		<div class="card-title">
			<h4 class="mb-0">Menü Ayarları</h4>
		</div>
		<hr>
		@if (TempData["SuccessMessage"] != null)
		{
			<div class="alert alert-success">@TempData["SuccessMessage"]</div>
		}
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="row">
					<div class="col-12">
						<div class="card border-primary mb-3">
							<div class="card-header bg-primary text-white">Düzenle</div>
							<div class="card-body">
								<form id="frmEdit" class="form-horizontal">
									<div class="form-group">
										<label for="text">Text</label>
										<div class="input-group">
											<input type="text" class="form-control item-menu" name="text" id="text" placeholder="Menü Başlığı">
											<div class="input-group-append">
												@*<button type="button" id="myEditor_icon" class="btn btn-outline-secondary"></button>*@
											</div>
										</div>
										<input type="hidden" name="icon" class="item-menu">
									</div>
									<div class="form-group">
										<label for="href">URL</label>
										<input type="text" class="form-control item-menu" id="href" name="href" placeholder="Menü Url ya da Permalink">
									</div>
									<div class="form-group">
										<label for="target">Menü Arka Sayfada Açılsın mı?</label>
										<select name="target" id="target" class="form-control item-menu">
											<option value="_self">Kendi İçinde Açılsın (Self)</option>
											<option value="_blank">Farklı bir sayfa olarak (Blank)</option>
											<option value="_top">Üstünde açılsın (Top)</option>
										</select>
									</div>
									@*<div class="form-group">
									<label for="title">Tooltip</label>
									<input type="text" name="title" class="form-control item-menu" id="title" placeholder="Tooltip">
									</div>*@
								</form>
							</div>
							<div class="card-footer">
								<button type="button" id="btnUpdate" class="btn btn-primary" disabled><i class="fas fa-sync-alt"></i> Güncelle</button>
								<button type="button" id="btnAdd" class="btn btn-success"><i class="fas fa-plus"></i> Yeni Ekle</button>
							</div>
						</div>
					</div>
					@if (_uow.Admin.IsAccessByRole("developer"))
					{
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									JSON Output
									<div class="float-right">
										<button id="btnOutput" type="button" class="btn btn-success"><i class="fas fa-check-square"></i> Json Çıktısı Al</button>
									</div>
								</div>
								<div class="card-body">
									<div class="form-group">
										<textarea id="out" class="form-control" cols="50" rows="10"></textarea>
									</div>
								</div>
							</div>
						</div>
					}
				</div>

			</div>
			<div class="col-md-6 col-sm-12">
				<div class="card ">
					<div class="card-header bg-primary text-white">
						Menüler
					</div>
					<div class="card-body">
						<div class="alert alert-danger">
							Tüm düzenlemelerinizi yaptıktan sonra <b>menüyü kaydetmeyi unutmayın</b>. Aksi takdirde menü kaydedilmez ve verileriniz kaybolur!
						</div>
						<!--Menü Area-->
						<ul id="myEditor" class="sortableLists list-group">
						</ul>
						<button id="btnSave" type="button" class="btn btn-success mt-3"><i class="fas fa-check-square"></i> Menüyü Kaydet</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


