@model Product
@inject IUnitOfWork _uow
@{
    var langNow = _uow.Cookie.GetAdminLangId;
}
@section libStyle {
    <!-- Summernote -->
    <link href="~/lib/summernote/summernote-lite.min.css" rel="stylesheet" />
    <link href="~/lib/ofc-simple-media/js/simple_file_upload.css" rel="stylesheet" />
}

<style>
    select.form-control[size], select.form-control[multiple] {
        height: auto;
        display: none !important;
    }
</style>
<div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Organizzazione del prodotto</h4>
        </div>
        <hr />
        <form class="needs-validation" method="post" novalidate>
            <input type="hidden" asp-for="SitemapId" />
            <input type="hidden" asp-for="Enabled" />
            <input type="hidden" asp-for="LangId" name="LangId" value="@langNow" />
            <input type="hidden" class="mediaIdForCategory" asp-for="MediaId" />

            <div class="row">
                <div class="col-md-12 col-sm-12 form-group">
                    <label asp-for="Name">Nome del prodotto</label>
                    <input type="text" asp-for="Name" maxlength="256" class="form-control" placeholder="Ürün adı girin." required>
                    <div class="invalid-feedback">
                        Lütfen ürün adı giriniz.
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 form-group">
                    <label asp-for="Description">Descrizione del prodotto</label>
                    <input type="text" asp-for="Description" class="form-control" placeholder="Ürün açıklaması girin." required>
                    <div class="invalid-feedback">
                        Lütfen ürün açıklamasını giriniz.
                    </div>
                </div>

                <div class="col-12">
                    <hr />
                    <p style="color: #d17070; font-weight: bold;">Informazioni tecniche sul prodotto</p>
                </div>
                <div class="col-sm-12 form-group mt-2">
                    <label asp-for="CategoryProductRelation">Categorie di prodotti (<a asp-controller="Category" asp-action="manage" class="btn-link">Aggiungi categoria</a>)</label>
                    <select class="select_multiple form-control" id="cat-select" style="display: block !important;" name="CategoryId" asp-items="(List<SelectListItem>)ViewBag.ProductCategory">
                        @if (Model.Id == 0)
                        {
                            <option value="">Kategori Seçiniz</option>
                        }
                    </select>
                    <div class="invalid-feedback">
                        Lütfen Kategori Seçiniz.
                    </div>
                </div>

                <div class="col-sm-12 form-group mt-2">
                    <label asp-for="SubCategoryProductRelation">Sottocategorie di prodotti </label>
                    <select class="select_multiple form-control" id="subcat-select" style="display: block !important;" name="SubCategoryId" asp-items="(List<SelectListItem>)ViewBag.ProductSubCategory">
                        @* <option value="@ViewBag.ProductSubCategory.Id" selected="selected">@ViewBag.ProductSubCategory.Name</option> <!-- Varsayılan bir seçenek --> *@
                    </select>
                    <div class="invalid-feedback">
                        Lütfen Alt Kategori Seçiniz.
                    </div>
                </div>
                <div class="col-sm-12 form-group mt-2">
                    <label asp-for="ManCategoryProductRelation">Categorie di prodotti (<a asp-controller="ManCategory" asp-action="manage" class="btn-link">Aggiungi categoria</a>)</label> 
                    <select class="select_multiple form-control" id="mancat-select" style="display: block !important;" name="ManCategoryId" asp-items="(List<SelectListItem>)ViewBag.ManProductCategory">
                        @if (Model.Id == 0)
                        {
                            <option value="">Kategori Seçiniz</option>
                        }
                    </select>
                    <div class="invalid-feedback">
                        Lütfen Erkek Kategori Seçiniz.
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 form-group">
                    @await Component.InvokeAsync("FileUploadModal",
                             new AdminFileUploadViewModel
                    {
                        FileUploadEntity = new FileUploadEntity
                        {
                            FileAccept = "image/*",
                            FilePath = "/product/image/",
                            Label = "Ürün Fotoğrafı",
                            FileId = 1,
                            FileType = "image",
                            MediaId = Model.MediaId == null ? null : Model.MediaId.ToString(),
                            ParamMediaIdName = "MediaId",
                            MediaTitle = Model == null ? "" : Model.Name
                        },
                        AdminFileUploadModal = new AdminFileUploadModal
                        {
                    ModalTitle = "Caricare le foto del prodotto Dimensione:1080 x 1080",

                        }
                    })
                </div>
            </div>
            @await Component.InvokeAsync("ButtonGroup", new { viewName = "Default", vm = new ButtonGroupViewModel { ListControllerName = ViewContext.RouteData.Values["controller"].ToString() } })
        </form>
    </div>
</div>

@section libScript {
    <!-- Summernote -->
    <script src="~/lib/summernote/summernote-lite.min.js"></script>
    <script src="~/js/my_lib/my_summernote_settings.js"></script>
    <script src="~/lib/ofc-simple-media/js/simple_file_upload.js"></script>
    <script src="~/js/product.js"></script>
}

