@model JsonSetting

@section libStyle {
    <!-- Summernote -->
    <link href="~/lib/summernote/summernote-lite.min.css" rel="stylesheet" />
}
@section libScript {
    <!-- Summernote -->
    <script src="~/lib/summernote/summernote-lite.min.js"></script>
    <script src="~/js/my_lib/my_summernote_settings.js"></script>
}

<div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Ayarlar</h4>
        </div>
        <hr>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">Genel</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">İletişim</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="social-tab" data-toggle="tab" href="#social" role="tab" aria-controls="social" aria-selected="false">Sosyal Medya</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="color-tab" data-toggle="tab" href="#color" role="tab" aria-controls="contact" aria-selected="false">Renk Ayarları</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="lang-tab" data-toggle="tab" href="#lang" role="tab" aria-controls="lang-tab" aria-selected="false">Sayfa Çevirileri</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="footer-tab" data-toggle="tab" href="#footer" role="tab" aria-controls="footer-tab" aria-selected="false">Footer</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contactlayout-tab" data-toggle="tab" href="#contactlayout" role="tab" aria-controls="contactlayout-tab" aria-selected="false">Contact Layout</a>
            </li>
        </ul>
        <div class="tab-content p-3" id="myTabContent">
            <form id="formSetting" asp-controller="setting" asp-action="manage" method="post" class="tab-content form-horizontal">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                }
                <div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="form-group">
                        <label>
                            Sayfa Arama Motorları Tarafından Indexlensin mi?
                        </label>
                        <input type="checkbox" class="form-control" asp-for="isIndex" />
                    </div>
                    <div class="form-group">
                        <label>Orjinal Logo</label>
                        @await Component.InvokeAsync("FileUploadModal",
                                 new AdminFileUploadViewModel
                        {
                            FileUploadEntity = new FileUploadEntity
                            {
                                FileAccept = "image/png",
                                FilePath = "/setting/image/",
                                Label = "Ayarlar Orjinal Logo Fotoğrafı",
                                FileId = 1,
                                //
                                FileType = "image",
                                MediaId = Model.paramMediaId1.ToString(),
                                MediaWidth = 200,
                            },
                            AdminFileUploadModal = new AdminFileUploadModal
                            {
                                ModalTitle = "Orjinal Logo Yükleyin",
                            }
                        })
                    </div>
                    <div class="form-group">
                        <label>Beyaz Logo</label>
                        @await Component.InvokeAsync("FileUploadModal",
                                 new AdminFileUploadViewModel
                        {
                            FileUploadEntity = new FileUploadEntity
                            {
                                FileAccept = "image/png",
                                FilePath = "/setting/image/",
                                Label = "Ayarlar Beyaz Logo Fotoğrafı",
                                FileId = 2,
                                FileType = "image",
                                MediaId = Model.paramMediaId2.ToString(),
                                MediaWidth = 200,
                            },
                            AdminFileUploadModal = new AdminFileUploadModal
                            {
                                ModalTitle = "Beyaz Logo Yükleyin",
                            }
                        })
                    </div>
                    <div class="form-group">
                        <label>Hakkımızda</label>
                        <textarea asp-for="aboutUs" class="summernote_textarea"></textarea>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Header Yazısı</label>
                        <textarea asp-for="headerText" class="summernote_textarea"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Header Bize Ulaşın Buton Yazısı</label>
                        <input asp-for="paramText10" type="text" value="@Model.paramText10" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="contact">
                    <div class="form-group">
                        <label>
                            Adress
                        </label>
                        <input type="text" class="form-control" asp-for="address" />
                    </div>
                    <div class="form-group">
                        <label>
                            Phone
                        </label>
                        <input type="text" class="form-control" asp-for="phone" />
                    </div>
                    <div class="form-group">
                        <label>
                            Mobile Phone
                        </label>
                        <input type="text" class="form-control" asp-for="secondPhone" />
                    </div>
                    <div class="form-group">
                        <label>
                            Fax
                        </label>
                        <input type="text" class="form-control" asp-for="@Model.footerColumn4" />
                    </div>
                    <div class="form-group">
                        <label>
                            E-mail
                        </label>
                        <input type="text" class="form-control" asp-for="email" />
                    </div>
                    <div class="form-group">
                        <label>
                            E-mail
                        </label>
                        <input type="text" class="form-control" asp-for="@Model.footerColumn3" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="social">
                    <div class="form-group">
                        <label>
                            Facebook
                        </label>
                        <input type="text" class="form-control" asp-for="facebook" />
                    </div>

                    <div class="form-group">
                        <label>
                            Twitter
                        </label>
                        <input type="text" class="form-control" asp-for="twitter" />
                    </div>


                    <div class="form-group">
                        <label>
                            Instagram
                        </label>
                        <input type="text" class="form-control" asp-for="instagram" />
                    </div>

                    <div class="form-group">
                        <label>
                            Telegram
                        </label>
                        <input type="text" class="form-control" asp-for="telegram" />
                    </div>

                    <div class="form-group">
                        <label>
                            Youtube
                        </label>
                        <input type="text" class="form-control" asp-for="youtube" />
                    </div>
                    <div class="form-group">
                        <label>
                            Pinterest
                        </label>
                        <input type="text" class="form-control" asp-for="pinterest" />
                    </div>
                    <div class="form-group">
                        <label>
                            Linkedin
                        </label>
                        <input type="text" class="form-control" asp-for="linkedIn" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="color">
                    <div class="form-group">
                        <label>
                            Ana Renk
                        </label>
                        <input type="color" class="form-control" asp-for="defaultColor" />
                    </div>
                    <div class="form-group">
                        <label>
                            Ana Renk 2
                        </label>
                        <input type="color" class="form-control" asp-for="defaultColor2" />
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" aria-labelledby="footer-tab" id="footer">
                    <div class="form-group">
                        <label>
                            Footer Kolon 1 Başlığı
                        </label>
                        <input type="text" class="form-control" asp-for="footerColumn1" />
                    </div>
                    <div class="form-group">
                        <label>
                            Footer Kolon 1 İsim 1
                        </label>
                        <input type="text" class="form-control" asp-for="footerColumnLink1" />
                    </div>
                    <div class="form-group">
                        <label>
                            Footer Kolon 1 İsim 2
                        </label>
                        <input type="text" class="form-control" asp-for="footerColumnLink2" />
                    </div>
                    <div class="form-group">
                        <label>
                            Footer Kolon 1 İsim 3
                        </label>
                        <input type="text" class="form-control" asp-for="footerColumnLink3" />
                    </div>

                    <!--Footer Column 2-->
                    <div class="form-group">
                        <label>
                            Footer Kolon 2 Başlığı
                        </label>
                        <input type="text" class="form-control" asp-for="footerColumn2" />
                    </div>
                    <div class="form-group">
                        <label>
                            Footer Kolon 2 İsim 1
                        </label>
                        <input type="text" class="form-control" asp-for="footer2ColumnLink1" />
                    </div>
                    <div class="form-group">
                        <label>
                            Footer Kolon 2 İsim 2
                        </label>
                        <input type="text" class="form-control" asp-for="footer2ColumnLink2" />
                    </div>
                    <div class="form-group">
                        <label>
                            Footer Kolon 2 İsim 3
                        </label>
                        <input type="text" class="form-control" asp-for="footer2ColumnLink3" />
                    </div>
                    <hr />
                </div>
                <div role="tabpanel" class="tab-pane fade" aria-labelledby="contactlayout-tab" id="contactlayout">

                    <div class="form-group">
                        <label>
                            Ad Soyad label başlık
                        </label>
                        <input type="text" class="form-control" asp-for="paramText11" />
                    </div>
                    <div class="form-group">
                        <label>
                            Telefon numarası label başlık
                        </label>
                        <input type="text" class="form-control" asp-for="paramText12" />
                    </div>
                    <div class="form-group">
                        <label>
                            Mail label başlık
                        </label>
                        <input type="text" class="form-control" asp-for="paramText13" />
                    </div>
                    <div class="form-group">
                        <label>
                            Mesajınız label başlık
                        </label>
                        <input type="text" class="form-control" asp-for="paramText14" />
                    </div>
                    <div class="form-group">
                        <label>
                            Buton içi yazı
                        </label>
                        <input type="text" class="form-control" asp-for="paramText15" />
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" aria-labelledby="lang-tab" id="lang">
                    <div class="form-group">
                        <label>
                            Arama Yapın
                        </label>
                        <input type="text" class="form-control" asp-for="paramText1" />
                    </div>
                </div>
                <input class="btn btn-default btn-admin" value="Kaydet" type="submit" />
            </form>
        </div>
    </div>
</div>


