@model FileProject
@section libScript{
    <script src='https://cdn.tiny.cloud/1/vdqx2klew412up5bcbpwivg1th6nrh3murc6maz8bukgos4v/tinymce/5/tinymce.min.js' referrerpolicy="origin">
    </script>
    <script>
		tinymce.init({
		  selector: '#mytextarea'
		});
    </script>
}
<div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Dosya Projesi Düzenleme</h4>
        </div>
        <hr />
        <form class="needs-validation" method="post" novalidate>
            <input type="hidden" asp-for="Id" />
            <input asp-for="CreatedDate" type="hidden" />
            <div class="form-group">
                <label asp-for="Title">Dosya Proje Başlığı</label>
                <input class="form-control" asp-for="Title" placeholder="Başlık" required />
                <div class="invalid-feedback">
                    Lütfen başlık giriniz.
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FullDomain">Projenin Tam Alan Adı</label>
                <input class="form-control" asp-for="FullDomain" placeholder="ornek.com" required />
                <div class="invalid-feedback">
                    Lütfen full alan adını giriniz.
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description">Açıklama</label>
                <textarea class="form-control" asp-for="Description" placeholder="Açıklama" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="ProjectName">Proje Adı</label>
                <input class="form-control" asp-for="ProjectName" placeholder="www-admin-www2-example gibi" required />
                <div class="invalid-feedback">
                    Lütfen çalıştığınız projeyi giriniz.
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ProjectName">Projenin Dosya Yükleme Klasörü</label>
                <input class="form-control" asp-for="ProjectPath" placeholder="www\wwwroot ya da admin\StaticFiles gibi" required />
                <div class="invalid-feedback">
                    Lütfen çalıştığınız projede dosyaların yükleneceği ana klasörü giriniz.
                </div>
            </div>
            @await Component.InvokeAsync("ButtonGroup", new { viewName = "Default", vm = new ButtonGroupViewModel { ListControllerName = ViewContext.RouteData.Values["controller"].ToString() } })
        </form>
    </div>
</div>

