@inject IUnitOfWork _uow

@await Component.InvokeAsync("Breadcrumb", new BreadcrumbViewModel { Title = "Kurulum Yapın" })


<div class="card">
    <div class="card-header">
        ONARIM İŞLEMLERİ
        <i class="bx bn-cube-alt"></i>
    </div>
    <div class="card-body">
        <div class="alert alert-danger">
            Tüm onarımların aynı anda gerçekleştirileceği genel onarımı yapın.
            <a asp-controller="setup" asp-action="generalfix" class="btn btn-danger">Genel Onarım</a>
        </div>
        <div class="alert alert-danger">
            Ön taraftaki sayfalarda bir sorun ya da eksilklik varsa<b> sayfaları onar</b> butonuna tıklayınız.Sorun çözülmezse farklı bir sebepten kaynaklanıyor olabilir.
            <a asp-controller="setup" asp-action="FixPagesByType" class="btn btn-danger">Sayfaları Kontrol Et ve Onar</a>
        </div>
        <div class="alert alert-danger">
            Menüleri sisteme elle girmek yerine <b>varsayılan olarak</b> hızlıca kurabilirsiniz. Eğer sayfa varsa sayfalardan menü oluşturur. Sayfa yok ise varsayılan menüyü oluşturacaktır.
            <a asp-controller="setup" asp-action="setdefaultmenu" class="btn btn-danger">Menüyü Kur</a>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        UYARILAR 
        <i class="bx bn-cube-alt"></i>
    </div>
    <div class="card-body">
        <div class="alert alert-info">
            <b>Page</b> dışındaki sayfa türleri<b>Blog Detay</b> viewleri için alternatif olarak kullanılmaktadır.Yani<b> Blog detayına</b> giden
            bir url ilk önce <b>Blog Detay</b> sayfasını arar ve oradaki <b>section</b> tasarımına göre<b> Blogu</b> sayfaya entegre eder. <br />
            Böylelikle ekstra bir view kullanmaya gerek kalmaz.Ayrıca<b> Sayfa</b> mantığında çalıştığı için farklı <b>section yapıları</b> birllikte kullanılabilir.
        </div>
    </div>
</div>