@inject IUnitOfWork _uow

@{
    Layout = "_AccountLayout";

    //Panel ayarlarından alınan giriş fotoğrafı alınıyor.
    JsonPanelSetting panelSetting = _uow.PanelSetting.GetFirstPanelSetting();
}

<div class="col-12 col-lg-12 mx-auto">
    <div class="card radius-15">
        <div class="card-body p-md-5">
            <div class="text-center">
                <h3 class="mt-4 font-weight-bold">Kuruluma Başlayalım!</h3>
                <p><b>Admin > appsettings</b> dosyası içerisindeki <b>Setup > Token</b> değerini kopyalayın ve kurulum için buraya yapıştırın.</p>
            </div>
            @if (ViewBag.AlertCode == "not-found-token")
            {
                <div class="alert alert-danger">
                    Bu token appsettings dosyasındaki token ile eşleşmemektedir. Lütfen dikkatli inceleyiniz.
                </div>
            }

            <form asp-action="start" method="post">
                <div class="form-group mt-4">
                    <label>Token</label>
                    <input type="text" class="form-control" name="token" placeholder="Appsettings'deki token değerini giriniz." required />
                </div>
                <div class="btn-group mt-3 w-100">
                    <button type="submit" class="btn btn-primary btn-block">İlk Kurulumu Başlat!</button>
                    <button type="button" class="btn btn-primary">
                        <i class="lni lni-arrow-right"></i>
                    </button>
                </div>
                <div class="btn-group mt-3 w-100">
                    <a asp-controller="home" asp-action="login" class="btn btn-block btn-info">
                        <i class="lni lni-arrow-left"></i>
                        Giriş Yap
                    </a>
                </div>
            </form>
        </div>
        <!--end row-->
    </div>
</div>